keybinds {
    locked {
        unbind "Ctrl g"
        unbind "Ctrl q"
        bind "Ctrl x" { SwitchToMode "Normal"; }
    }
    normal {
        unbind "Ctrl g"
        unbind "Ctrl q"
        bind "Ctrl x" { SwitchToMode "Locked"; }
    }
    session {
        bind "q" { Quit; }
    }
}
